name: Release

on:
  push:
    tags:
      # Replace the tag below with "v*" if you want to publish this package to JSR.
      - REPLACE_THIS_TAG

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1

      - name: Test
        run: deno task test

  publish-to-jsr:
    name: Publish to JSR
    runs-on: ubuntu-latest
    needs: test

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1

      - name: Publish to JSR
        run: deno publish

  changelog:
    name: Changelog
    runs-on: ubuntu-latest
    needs: publish-to-jsr

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Deno
        uses: denoland/setup-deno@v1

      - name: Changelog
        run: deno run -A npm:changelogithub
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
