name: Release

on:
  push:
    tags:
      - v*

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    env:
      DENO_DIR: ~/cache/deno

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache Deno dependencies
        uses: actions/cache@v2
        with:
          path: ${{ env.DENO_DIR }}
          key: ${{ hashFiles('deno.lock') }}

      - name: Setup Deno
        uses: denoland/setup-deno@v1

      - name: Fmt check
        run: deno fmt --check

      - name: Lint
        run: deno lint

      - name: Test
        run: deno task test

  changelog:
    name: Changelog
    runs-on: ubuntu-latest
    needs: test

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Deno
        uses: denoland/setup-deno@v1

      - name: Changelog
        run: deno run -A npm:changelogithub
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # If you don't want to publish this package to JSR, please remove this job.
  publish-to-jsr:
    name: Publish to JSR
    runs-on: ubuntu-latest
    needs: test

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1

      - name: Publish to JSR
        run: deno publish

  # If you don't want to publish this package to npm, please remove this job.
  publish-to-npm:
    name: Publish to npm
    runs-on: ubuntu-latest
    needs: test

    permissions:
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          package_json_file: npm/package.json

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          registry-url: 'https://registry.npmjs.org'
          cache-dependency-path: npm/pnpm-lock.yaml
          cache: pnpm

      - name: Install
        run: pnpm i -C npm

      - name: Build
        run: pnpm run -C npm build

      - name: Publish to npm
        run: pnpm publish -C npm --provenance --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
