name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  publish-to-jsr:
    # If you want to publish this package to JSR, please delete the next line.
    if: ${{ false }}

    name: Publish to JSR
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1

      - name: Test
        run: deno task test

      - name: Publish package
        run: deno publish
